<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
</head>

<body ng-app="app.module" ng-controller="appCtrl">

  <nav class="navbar navbar-expand navbar-dark bg-dark mb-3">
    <div class="container">
      <a class="navbar-brand" href="#">App</a>

      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">

          <li class="nav-item">
            <a class="nav-link" ng-click="activateView('users')">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ng-click="activateView('todos')">Todos</a>
          </li>
        </ul>
        <span class="navbar-text">
          Hello, {{user.name}}
        </span>
      </div>
    </div>
  </nav>

  <div class="container">

    <div>

      <!-- Todos -->
      <div ng-include=" 'src/views/todos.tpl.html' " ng-if="activeView == 'todos'"></div>
      
      <!-- Users -->
      <div ng-include=" 'src/views/users.tpl.html' " ng-if="activeView == 'users'"></div>

    </div>

  </div>

  <script src="node_modules/angular/angular.js"></script>
  <script src="src/todos/todos.module.js"></script>
  <script src="src/todos/todos.service.js"></script>
  <script src="src/users/users.module.js"></script>
  <script src="src/users/users.service.js"></script>
  <script src="src/main.js"></script>
</body>

</html>