<div ng-controller="todosCtrl">
  <h3>Todos</h3>

  <style>
    .list-group-item.completed{
            text-decoration: line-through;
    }
  </style>

  <!-- Todos List -->
  <div class="list-group">
    <div class="list-group-item" ng-repeat="todo in todos track by todo.id" ng-class="{
            completed: todo.completed
          }">
      <input type="checkbox" ng-model="todo.completed">
      <span>
        {{$index + 1}}. {{todo.title}}
      </span>
      <span class="close" ng-click="removeTodo($index)">&times;</span>
    </div>
  </div>

  <!-- Todo Editor -->
  <div class="input-group">
    <input type="text" class="form-control" ng-model="todo.title" ng-keyup="titleKey($event)">
    <input type="button" value="Add" class="btn btn-success" ng-click=" addTodo(todo) ">
  </div>

</div>